<header class="main-header" [class.scrolled]="isScrolled">
    <div class="container header-wrapper">
        <div class="logo-area">
                <img width="50" src="../../../../assets/img.png" alt="teste"/>
        </div>

        <nav class="nav-menu">
            <ul>
                <li><a routerLink="/" routerLinkActive="active">Home</a></li>
                <li><a routerLink="/quem-somos">Quem Somos</a></li>
                <li><a routerLink="/sobre">Sobre Nós</a></li>
                <li><a routerLink="/impacto">Impacto</a></li>
                <li><a routerLink="/noticias">Notícias</a></li>
                <li><a routerLink="/contato">Contato</a></li>
            </ul>
        </nav>

        <div class="header-actions">
            <a href="#" class="btn-donate">Como Ajudar</a>
        </div>
    </div>
</header>
